    <header>
    <nav>
      <ul class="logout_cont" >
        <% if current_user %>
        <li> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "home_signout" %></li>
        <% else %>
        <li > <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %></li>
        <li > <%= link_to "Sign In", new_user_session_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
      
    </nav>
    </header>