/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: rgb(66, 66, 245);
}

h4 .link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.recipes {
  margin-bottom: 20px;
}

.field {
  margin-top: 50px;
}

.form-label {
  font-weight: bold;
  margin-right: 30px;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  float: right;
}

.submit {
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.submit:hover {
  background-color: #03c;
}

.recipes-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.recipee {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.details {
  display: flex;
  gap: 150px;
}

.subbtn {
  padding: 4px;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.button {
  padding: 4px;
  border-radius: 8px;
  background-color: green;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  gap: 50px;
  margin-top: 50px;
  margin-left: 40px;
}

.public {
  background-color: green;
  color: white;
}

.recipeDetaiils {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
}

.recipe-name {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.body {
  right: 0;
  top: 0;
  float: right;
}

.bbtn {
  padding: 2px 4px;
  border-radius: 8px;
  color: black;
}

.status {
  margin-right: 10px;
}
